:root {
  --font-family__inter: "Inter", sans-serif;
  --font-family__playfair: "Playfair Display", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  height: 100vh;
  font-family: var(--font-family__inter);
  background-color: #23252c;
  color: #fff;
}

.my__card {
  width: min(400px, 95%);
  box-shadow: 4px 4px 4px rgba(0 0 0 0 / 0.5);
  border: 1px solid #333;
  margin-inline: auto;
  border-radius: 15px;
}



.my__card-photo {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.my__card-photo__credit {
  background-color:rgba(0,0,0,0.2);
  margin-top: -2px;
  padding: 0.1em;
  font-size: 0.75rem;
}

.my__card-about, .my__card-info, .my__card-interests {
  padding: 0 2em;
}

.my__card-info__title,
.my__card-about__title,
.my__card-interests__title {
  font-family: var(--font-family__playfair);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 1.5em;
}

.my__card-info__title {
  margin-top: 0.3em;
}

.my__card-info__text,
.my__card-about__text {
  text-align: center;
  line-height: 1.6;
}

.my__card-about__text {
  margin-top: 0.5rem;
}

.my__card-CTA {
  text-align: center;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my__card-CTA > a {
  text-decoration: none;
}

.my__card-CTA__link {
  font-weight: 600;
  padding: 1em 2em;
  background-color: #374151;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.my__card-CTA__link:hover {
  opacity: 0.8;
}

.my__card-CTA__link + .my__card-CTA__link{
  margin-left: 1em;
}

.my__card-CTA__link.email {
  background: #fff;
}

.my__card-CTA__link.linkedin {
  background: #00ff;
}

.linkedin {
  color: #fff;
}

.my__card-CTA__link-icon {
  font-size: 1.3rem;
}

.my__card-interests__text {
  margin-top: 1em;
}

.my__card-interests__lists {
  margin-left: 40px;
  margin-top: 0.5em;
}

.my__card-interests__lists > li {
  line-height: 1.7;
}

.my__card-interests__lists > li::marker {
  color: #00ff;
  font-size: 1.4rem
}

.my__card-footer {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;

  background-color: #161619;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.my__card-footer__icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: #fff;
}

.my__card-footer__icon + .my__card-footer__icon {
  margin-left: 2rem;
}

.my__card-footer__icon:hover {
  color: grey;
}

@media screen and (min-width: 450px) {
  .my__card {
    width: min(800px, 95%);
  }
}

@media screen and (min-width: 900px) {
  .my__card {
    margin-top: 5em;
  }

  .my__card-lg__screen {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-content: center;
  }

  .my__card-interests {
    display: grid;
    place-content: center;
  }

  .my__card-interests-lists >li {
    place-self: center;
  }

  .my__card-info__title {
    letter-spacing: 2px;
    margin-bottom: 0.5em;
  }

  
}
